body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eafff2;
}

input {
  background: none;
  color: #6e6a6e;
}

input [type=select]{
  border: none;
}

fieldset {
  display: flex;
  background: #fff;
  padding: 10px 0 20px 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  color: #8c888c;
  font-size: 1.2em;
}

.heading {
  height: 70px;
  padding: 20px;
  color: #b06bff;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}

.btn{
  width: 220px;
  height: 33px;
  outline: none;
  border-radius: 2em;
  background: #eedeff;
  border: solid 2px #c092ff;
  font-size: .9em;
  margin: 20px;
  color: #646065;
  font-family: 'Poppins', sans-serif;
}
.btn:hover{
  background: #b06bff;
  color: #fff;
  border-color: #b06bff;
}

.btn.add-field-btn {
  width: 70px;
  color: #5a5a5a;
}

.btn.add-field-btn:hover {
  color: #fff;
  cursor: pointer;
}

.field-btn{
  width: 22px;
  height: 22px;
  outline: none;
  border-radius: 2em;
  border: none;
  font-size: 1em;
  background: none;
  color: #5a5a5a;
}

.field-btn:hover{
  color: #b06bff;
  cursor: pointer;
}

@media (max-width: 550px) {
  .main {
    width: 100%;
    margin: 0 10px;
  }
}

.text-block {
  background-color:rgba(254,249,255,0.75);
  padding: 25px;
  margin: 25px 0;
  border-radius: 1em;
  font-size: 0.9em;
}