@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6e9f0;
}

input {
  background: none;
}

fieldset {
  display: flex;
  background: #fff;
  padding: 10px 0 20px 0;
}

.main {
  max-width: 700px;
  margin: 0 auto;
}

.section {
  font-family: 'Arial', sans-serif;
  color: #9d999d;
  font-size: 1.2em;
}

.heading {
  height: 70px;
  padding: 20px;
  color: #feb386;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 18px;
}

.btn{
  width: 127px;
  height: 33px;
  outline: none;
  border-radius: 2em;
  border: solid 1px #ccc;
  font-size: .9em;
  margin: 0 auto;
}
.btn:hover{
  background: #feb386;
  color: #fff;
  border-color: #feb386;
}

@media (max-width: 550px) {
  .main {
    width: 100%;
    margin: 0 10px;
  }
}