.creating {
  width: 170px;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

.initial-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
}

.btn-wrapper .btn {
  margin-bottom: 20px;
}

.row-button{
  margin: 20px;
}

.row {
  display: inline-flex;
}

.tab-section {
  background-color:rgba(232, 200, 239, 0.5);
  display: none;
  padding: 15px;
}

.tab-header {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
}

label:before {
  font-weight: normal;
  margin-right: 10px;
}

input:not(:checked) + label:hover {
  color: #789;
  background-color: rgba(232, 200, 239, 0.25);
  cursor: pointer;
}

input:not(:checked) + label {
  background-color: #eafff2;
}

input:checked + label {
  background-color:rgba(232, 200, 239, 0.5);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}